.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/
android/.gradle/
android/.kotlin/
android/app/build/
android/gradle/
ios/Pods/
ios/.symlinks/
macos/Pods/
windows/flutter/ephemeral/
linux/flutter/ephemeral/
web/.dart_tool/
*.log
hs_err_pid*
replay_pid*
lib/firebase_options.dart
*.hprof
